{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block heroTitle %}
    <h2>{{ article.title }}</h2>
    <span class="subheading">fake title and subtitle :3</span>
{% endblock %}
{% block navbar %}
{{ include('_navbar.html.twig', {user_role: user_role}) }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mb-5">
                {{ article.content | nl2br }}
            </div>
        </div>
    </div>
{% endblock %}